@{
    ViewBag.Title = "Voucher";
}
<div class="container">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="">
                <h3 class="text-center m-2">My Soft Corporation</h3>
            </div>
            <div class="">
                <h3 class="text-center m-2">Voucher Type</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th colspan="2">@DateTime.Now.ToString("dd-MM-yyyy  H:m")</th>
                            <th>No</th>
                            <th colspan="2">Please confirm</th>
                        </tr>
                        <tr>
                            <th colspan="3">Description</th>
                            <th>Code</th>
                            <th>Debit</th>
                            <th>Credit</th>
                        </tr>
                        <tr>
                            <th colspan="6"></th>
                        </tr>
                        <tr>
                            <th colspan="3">Total</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th colspan="3">Narration</th>
                            <th colspan="3"></th>
                        </tr>
                        <tr>
                            <th>Prepared By: </th>
                            <th colspan="2"></th>
                            <th>Checked By :</th>
                            <th colspan="2"></th>
                        </tr>
                        <tr>
                            <th>Prepared By: </th>
                            <th colspan="2"></th>
                            <th>Checked By :</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>