
<!-- Service Start -->
<div class="service">
    <div class="container-fluid">
        <div class="section-header">
            <h2>Our Services</h2>
            <p>Updating Soon</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <h3>Web Design</h3>
                    <img src="~/img/icon-service-1.png" alt="Service">
                    <p>We can create the responsive codes that can be used across the various platforms allow you to stay in the competition</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <h3>Development</h3>
                    <img src="~/img/icon-service-2.png" alt="Service">
                    <p>We develope Websites,Mobile, Desktop Applications</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <h3>UI Design</h3>We can create the responsive codes that can be used across the various platforms allow you to stay in the competition
                    <img src="~/img/icon-service-3.png" alt="Service">
                    <p>We design responsive user interface which can adjust it self with any size of screen</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <h3>Programming</h3>
                    <img src="~/img/icon-service-4.png" alt="Service">
                    <p>We have professional C# programmer which can programe large scale applications</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <h3>Graphic Design</h3>
                    <img src="~/img/icon-service-5.png" alt="Service">
                    <p>We design Brochure, Card and other templete</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <h3>Video Editing</h3>
                    <img src="~/img/icon-service-6.png" alt="Service">
                    <p>We have professional video editors around the world</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <h3>SEO</h3>
                    <img src="~/img/icon-service-7.png" alt="Service">
                    <p>We provide Search Engine Optimization to almost any kind of websites</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <h3>Online Marketing</h3>
                    <img src="~/img/icon-service-8.png" alt="Service">
                    <p>we teach online marketing with professionals</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Service Row Start -->
<div class="service-row">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 d-md-none d-block">
                <div class="service-row-img">
                    <img src="~/img/service-1.png" alt="Service">
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-row-text">
                    <h2 class="section-title">Web Design</h2>
                    <p>
                        We can create the responsive codes that can be used across the various platforms allow you to stay in the competition
                    </p>
                    <a class="btn" href="">Read More</a>
                </div>
            </div>
            <div class="col-md-6 d-md-block d-none">
                <div class="service-row-img">
                    <img src="~/img/service-1.png" alt="Service">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service Row End -->
<!-- Service Row Start -->
<div class="service-row">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="service-row-img">
                    <img src="~/img/service-2.png" alt="Service">
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-row-text">
                    <h2 class="section-title">Web Development</h2>
                    <p>
                        We develope Websites,Mobile, Desktop Applications
                    </p>
                    <a class="btn" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service Row End -->
<!-- Service Row Start -->
<div class="service-row">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 d-md-none d-block">
                <div class="service-row-img">
                    <img src="~/img/service-3.png" alt="Service">
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-row-text">
                    <h2 class="section-title">Web Security</h2>
                    <p> We Provide The most advanced security to our web to prevent hacker from barging in
                    </p>
                    <a class="btn" href="">Read More</a>
                </div>
            </div>
            <div class="col-md-6 d-md-block d-none">
                <div class="service-row-img">
                    <img src="~/img/service-3.png" alt="Service">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service Row End -->
<!-- Service Row Start -->
<div class="service-row">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="service-row-img">
                    <img src="~/img/service-4.png" alt="Service">
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-row-text">
                    <h2 class="section-title">Online Marketing</h2>
                    <p>
                        Online marketing professional available with us
                    </p>
                    <a class="btn" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
